body{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20250205/pngtree-soft-pastel-floral-design-light-blue-background-image_16896113.jpg");
  background-color: #c78e8e; /* Optional: A fallback color if the image doesn't load */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-size: cover;
}
header {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20250205/pngtree-soft-pastel-floral-design-light-blue-background-image_16896113.jpg");
  background-color: #c78e8e; /* Optional: A fallback color if the image doesn't load */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  background-size: cover;
  border-top: 10px solid #040505;
  border-left: 10px solid #040505;
  border-right: 10px solid #040505;
  text-align: center;
  padding-top: 50px;
  border-radius: 8px;
  
}
.one-line {
  padding-bottom:30px;
  border-bottom: 10px solid #040505;
}

.section-style {
  background-color: #fff;
  padding: 3rem 2rem; /* rem means relative size wrt to parent element*/
  border-radius: 8px;
  box-shadow: 0 0 50px rgba(0,0,0,0.3)
}

.section-style h2 {
  color: #1279f0;
  border-bottom: 2px solid #3498db;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

nav {
  background-color: #2c3e50;
  padding: 1rem 0;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  cursor: pointer;
}

nav ul li a{
 color: #fff;
  font-weight: bold;
  margin: 0 15px; /*Either you can have 4/2 values in 1 prop OR you can have separate props for each side*/
  text-decoration: none;
    
}

nav ul li a:hover {
  color: #28d1f7;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  border-color: #28f7e7;
  border-radius: 6px;
  padding: 2px;
}

#switch-theme {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 8px;
  transition: background-color 5s ease;
}

#switch-theme:hover {
  background-color: #3498db;
}


.dark-theme {
  background-color: #2b5f8f;
  color: #524c57;
}

.dark-theme header {
  background-color: #34455e;
}

.dark-theme nav {
  background-color: #6e2f75;
}
